body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.avatar {
    width: 150px;
}

.card {
    width: 500px;
    height: 150px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: skyblue;
    color: #2b2839;
    border-bottom: 6px solid springgreen;
    
        

}

.border-blue {
    border: 3px dotted blue;
}
.text {
    text-shadow: 2px 2px;
}